<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Open Certification Trainer</title>
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    </head>
    <body>
        <div id="root"><%- html %></div>

        <!-- Dependencies -->
        <script src="https://unpkg.com/react@15/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
        <script src="https://unpkg.com/classnames/index.js"></script>
        <script src="https://unpkg.com/react-input-autosize/dist/react-input-autosize.js"></script>
        <script src="https://unpkg.com/react-select/dist/react-select.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">

        <!-- Main -->
        <script src="/js/bundle.js"></script>
    </body>
</html>
